In [59]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [303]:
dataframe = pd.read_csv('\denue_inegi_14_.csv', encoding='latin-1', dtype='unicode')

In [61]:
dataframe.head()

,id,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,nom_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,8624390,ACUACULTORES LOS CASTRO S.C. DE R.L. DE C.V.,ACUACULTORES LOS CASTRO SC DE RL,112512,"Piscicultura y otra acuicultura, excepto camar...",6 a 10 personas,CIRCUITO,DE LAS CAÑAS,CIRCUITO,10,...,Campestre las Palomas [Fraccionamiento],6940,013,3317429415,ELDOTE@HOTMAIL.COM,NaN,Fijo,20.8206615,-103.44672584,2019-11
1,8838371,ACUACULTURA DEL PACIFICO SPR DE RL,ACUACULTURA DEL PACIFICO SPR DE RL,112511,Camaronicultura,11 a 30 personas,CALLE,PABLO VALDEZ,CALLE,PEDRO A. GALVAN,...,Guadalajara,1170,003,NaN,CONSTRULOGA@PRODIGY.NET.MX,NaN,Fijo,20.68168604,-103.32996225,2019-11
2,9233864,ACUIC0LA LA CABAÑA,NaN,112512,"Piscicultura y otra acuicultura, excepto camar...",6 a 10 personas,CALLE,HIDALGO SUR,CALLE,16 de Septiembre Poniente,...,Teuchitlán,010A,008,3841193710,NaN,NaN,Fijo,20.68336014,-103.84974059,2020-04
3,8341990,ACUICOLA DE VILLA CORONA S.P.R. DE R.L.,ACUICOLA DE VILLA CORONA SOCIEDAD DE PRODUCCIO...,112512,"Piscicultura y otra acuicultura, excepto camar...",6 a 10 personas,CALLE,ALLENDE,CALLE,MATAMOROS,...,Villa Corona,0075,014,3331052902,NaN,NaN,Fijo,20.41873653,-103.66641767,2019-11
4,9233565,ACUICOLA EDUARDO HERRERA,ACUICOLA EDUARDO HERRERA,112512,"Piscicultura y otra acuicultura, excepto camar...",6 a 10 personas,CALLE,JUAREZ,CALLE,ZARAGOZA,...,Ixtlahuacán de los Membrillos,0098,022,749011150,NaN,NaN,Fijo,20.3473203,-103.19512468,2020-04

In [62]:
dataframe.tail()

,id,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,nom_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
376056,1675046,ZONA PREESCOLAR 68 14FZP0068N,SEP,931610,Actividades administrativas de instituciones d...,0 a 5 personas,CALLE,POTRERO DEL LLANO,CALLE,JUAN PONCE DE LEON,...,Guadalajara,2728,012,NaN,NENA_15814@HOTMAIL.COM,NaN,Fijo,20.63535509,-103.3731392,2010-07
376057,1738758,ZONA PREESCOLAR 72 E,SECRETARÍA DE EDUCACIÓN JALISCO,931610,Actividades administrativas de instituciones d...,11 a 30 personas,CALLE,SAN ISIDRO,CALLE,SAN ODILON,...,Tlaquepaque,0987,035,36007934,NaN,NaN,Fijo,20.60436025,-103.3812039,2014-12
376058,1756864,ZONA PREESCOLAR 74 14FZP0074Y,SECRETARIA DE EDUCACION PUBLICA,931610,Actividades administrativas de instituciones d...,0 a 5 personas,PRIVADA,INDEPENDENCIA,PRIVADA,VERANO,...,Jocotepec,0095,024,NaN,NaN,NaN,Fijo,20.28990475,-103.43306213,2014-12
376059,7459594,ZONA PREESCOLAR 88,SECRETARIA DE EDUCACION PUBLICA,931610,Actividades administrativas de instituciones d...,0 a 5 personas,CALLE,ZARAGOZA,CALLE,NINGUNO,...,Jamay,0174,001,NaN,NaN,NaN,Fijo,20.2918305,-102.72147541,2019-11
376060,7853251,ZUPERVISION ESCOLAR ZONA 046 NIVELPRIMARIAS,SECRETARIA DE EDUCAION PUBLICA,931610,Actividades administrativas de instituciones d...,0 a 5 personas,CALLE,DOCTOR JOSE DE JESUS GONZALEZ,CALLE,NINGUNO,...,Unión de San Antonio,0164,005,3320481451,ZONA46_SECTOR03@HOTMAIL.COM,NaN,Fijo,21.13332869,-102.00686514,2019-11

In [64]:
dataframe.shape

(376061, 41)

In [65]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376061 entries, 0 to 376060
Data columns (total 41 columns):
id            376061 non-null object
nom_estab     374310 non-null object
raz_social    70996 non-null object
codigo_act    376061 non-null object
nombre_act    376061 non-null object
per_ocu       376061 non-null object
tipo_vial     375691 non-null object
nom_vial      376049 non-null object
tipo_v_e_1    371968 non-null object
nom_v_e_1     372142 non-null object
tipo_v_e_2    371374 non-null object
nom_v_e_2     371491 non-null object
tipo_v_e_3    371954 non-null object
nom_v_e_3     372199 non-null object
numero_ext    345196 non-null object
letra_ext     113118 non-null object
edificio      23486 non-null object
edificio_e    23789 non-null object
numero_int    137407 non-null object
letra_int     15172 non-null object
tipo_asent    375846 non-null object
nomb_asent    376041 non-null object
tipoCenCom    21869 non-null object
nom_CenCom    22486 non-null object
num_local     22338 non-null object
cod_postal    375619 non-null object
cve_ent       376061 non-null object
entidad       376061 non-null object
cve_mun       376061 non-null object
municipio     376061 non-null object
cve_loc       376061 non-null object
localidad     376061 non-null object
ageb          376050 non-null object
manzana       376051 non-null object
telefono      112664 non-null object
correoelec    48948 non-null object
www           22435 non-null object
tipoUniEco    376061 non-null object
latitud       376061 non-null object
longitud      376061 non-null object
fecha_alta    376061 non-null object
dtypes: object(41)
memory usage: 117.6+ MB

In [66]:
dataframe.memory_usage()

Index             128
id            3008488
nom_estab     3008488
raz_social    3008488
codigo_act    3008488
nombre_act    3008488
per_ocu       3008488
tipo_vial     3008488
nom_vial      3008488
tipo_v_e_1    3008488
nom_v_e_1     3008488
tipo_v_e_2    3008488
nom_v_e_2     3008488
tipo_v_e_3    3008488
nom_v_e_3     3008488
numero_ext    3008488
letra_ext     3008488
edificio      3008488
edificio_e    3008488
numero_int    3008488
letra_int     3008488
tipo_asent    3008488
nomb_asent    3008488
tipoCenCom    3008488
nom_CenCom    3008488
num_local     3008488
cod_postal    3008488
cve_ent       3008488
entidad       3008488
cve_mun       3008488
municipio     3008488
cve_loc       3008488
localidad     3008488
ageb          3008488
manzana       3008488
telefono      3008488
correoelec    3008488
www           3008488
tipoUniEco    3008488
latitud       3008488
longitud      3008488
fecha_alta    3008488
dtype: int64

In [67]:
dataframe.count()

id            376061
nom_estab     374310
raz_social     70996
codigo_act    376061
nombre_act    376061
per_ocu       376061
tipo_vial     375691
nom_vial      376049
tipo_v_e_1    371968
nom_v_e_1     372142
tipo_v_e_2    371374
nom_v_e_2     371491
tipo_v_e_3    371954
nom_v_e_3     372199
numero_ext    345196
letra_ext     113118
edificio       23486
edificio_e     23789
numero_int    137407
letra_int      15172
tipo_asent    375846
nomb_asent    376041
tipoCenCom     21869
nom_CenCom     22486
num_local      22338
cod_postal    375619
cve_ent       376061
entidad       376061
cve_mun       376061
municipio     376061
cve_loc       376061
localidad     376061
ageb          376050
manzana       376051
telefono      112664
correoelec     48948
www            22435
tipoUniEco    376061
latitud       376061
longitud      376061
fecha_alta    376061
dtype: int64

In [68]:
dataframe.isnull().sum()

id                 0
nom_estab       1751
raz_social    305065
codigo_act         0
nombre_act         0
per_ocu            0
tipo_vial        370
nom_vial          12
tipo_v_e_1      4093
nom_v_e_1       3919
tipo_v_e_2      4687
nom_v_e_2       4570
tipo_v_e_3      4107
nom_v_e_3       3862
numero_ext     30865
letra_ext     262943
edificio      352575
edificio_e    352272
numero_int    238654
letra_int     360889
tipo_asent       215
nomb_asent        20
tipoCenCom    354192
nom_CenCom    353575
num_local     353723
cod_postal       442
cve_ent            0
entidad            0
cve_mun            0
municipio          0
cve_loc            0
localidad          0
ageb              11
manzana           10
telefono      263397
correoelec    327113
www           353626
tipoUniEco         0
latitud            0
longitud           0
fecha_alta         0
dtype: int64

In [69]:
dataframe.describe()

,id,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,nom_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
count,376061,374310,70996,376061,376061,376061,375691,376049,371968,372142,...,376061,376050,376051,112664,48948,22435,376061,376061,376061,376061
unique,376061,241277,41041,923,923,7,25,18661,25,18476,...,1140,2210,151,109496,42683,14451,2,340269,340768,14
top,6991019,TIENDA DE ABARROTES,,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,HIDALGO,CALLE,NINGUNO,...,Guadalajara,1378,001,3415752500,ATENCIONCLIENTES@OXXO.COM,WWW.OXXO.COM,Fijo,20.67662177,-103.34019891,2019-11
freq,1,4756,1479,37514,37514,318639,290130,9754,312300,15722,...,98943,4036,19908,31,1030,1030,368232,514,514,143517

In [70]:
dataframe.describe().T

,count,unique,top,freq
id,376061,376061,6991019,1
nom_estab,374310,241277,TIENDA DE ABARROTES,4756
raz_social,70996,41041,,1479
codigo_act,376061,923,461110,37514
nombre_act,376061,923,"Comercio al por menor en tiendas de abarrotes,...",37514
per_ocu,376061,7,0 a 5 personas,318639
tipo_vial,375691,25,CALLE,290130
nom_vial,376049,18661,HIDALGO,9754
tipo_v_e_1,371968,25,CALLE,312300
nom_v_e_1,372142,18476,NINGUNO,15722
tipo_v_e_2,371374,27,CALLE,309478
nom_v_e_2,371491,18591,NINGUNO,15655
tipo_v_e_3,371954,25,CALLE,314022
nom_v_e_3,372199,18380,NINGUNO,15731
numero_ext,345196,7568,0,10074
letra_ext,113118,1451,A,44421
edificio,23486,1321,MERCADO PUBLICO,8680
edificio_e,23789,43,1,11359
numero_int,137407,3252,0,107518
letra_int,15172,3750,SN,3203
tipo_asent,375846,45,COLONIA,321944
nomb_asent,376041,9098,CENTRO,55944
tipoCenCom,21869,14,MERCADO PUBLICO,9314
nom_CenCom,22486,1985,MERCADO LIBERTAD,1160
num_local,22338,6561,SN,1241
cod_postal,375619,1463,44100,5677
cve_ent,376061,1,14,376061
entidad,376061,1,JALISCO,376061
cve_mun,376061,125,039,98943
municipio,376061,125,Guadalajara,98943
cve_loc,376061,450,0001,329855
localidad,376061,1140,Guadalajara,98943
ageb,376050,2210,1378,4036
manzana,376051,151,001,19908
telefono,112664,109496,3415752500,31
correoelec,48948,42683,ATENCIONCLIENTES@OXXO.COM,1030
www,22435,14451,WWW.OXXO.COM,1030
tipoUniEco,376061,2,Fijo,368232
latitud,376061,340269,20.67662177,514
longitud,376061,340768,-103.34019891,514
fecha_alta,376061,14,2019-11,143517

In [73]:
dataframe.columns

Index(['id', 'nom_estab', 'raz_social', 'codigo_act', 'nombre_act', 'per_ocu',
       'tipo_vial', 'nom_vial', 'tipo_v_e_1', 'nom_v_e_1', 'tipo_v_e_2',
       'nom_v_e_2', 'tipo_v_e_3', 'nom_v_e_3', 'numero_ext', 'letra_ext',
       'edificio', 'edificio_e', 'numero_int', 'letra_int', 'tipo_asent',
       'nomb_asent', 'tipoCenCom', 'nom_CenCom', 'num_local', 'cod_postal',
       'cve_ent', 'entidad', 'cve_mun', 'municipio', 'cve_loc', 'localidad',
       'ageb', 'manzana', 'telefono', 'correoelec', 'www', 'tipoUniEco',
       'latitud', 'longitud', 'fecha_alta'],
      dtype='object')

In [304]:
wanted_columns = ['nom_estab','nombre_act','latitud','longitud']
dataframe2= dataframe[wanted_columns].copy()
dataframef = pd.DataFrame(columns = [wanted_columns])

In [305]:
dfhgspu = dataframe2.loc[dataframe['nombre_act'] == 'Hospitales generales del sector público']
dfhgspu.to_csv('1.csv')

In [306]:
dfhgspri = dataframe2.loc[dataframe['nombre_act'] == 'Hospitales generales del sector privado']
dfhgspri.to_csv('2.csv')

In [307]:
dfhspoem = dataframe2.loc[dataframe['nombre_act'] == 'Hospitales del sector privado de otras especialidades médicas']
dfhspoem.to_csv('3.csv')

In [308]:
dfcmesp = dataframe2.loc[dataframe['nombre_act'] == 'Consultorios de medicina especializada del sector privado']
dfcmesp.to_csv('4.csv')

In [309]:
dfcmgsp = dataframe2.loc[dataframe['nombre_act'] == 'Consultorios de medicina general del sector privado']
dfcmgsp.to_csv('5.csv')

In [310]:
dfcpssp = dataframe2.loc[dataframe['nombre_act'] == 'Consultorios de psicología del sector privado']
dfcpssp.to_csv('6.csv')

In [311]:
dfccmsp = dataframe2.loc[dataframe['nombre_act'] == 'Clínicas de consultorios médicos del sector público']
dfccmsp.to_csv('7.csv')

In [312]:
dfcmgsp = dataframe2.loc[dataframe['nombre_act'] == 'Consultorios de medicina general del sector público']
dfcmgsp.to_csv('8.csv')

In [317]:
import glob
path = r'C:\Users\lrchi\Desktop\Untitled Folder 1\hospitales' # use your path
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, encoding='utf-8-sig', dtype='unicode')
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [318]:
frame.reset_index(drop=True, inplace=True)

In [319]:
frame.to_csv('finalhospitaless.csv', encoding='utf-8-sig')

In [256]:
df = pd.read_csv('dataset_csv.csv', encoding='utf-8-sig', dtype= 'unicode')
dataframef = pd.read_csv('finalhospitaless.csv', encoding='utf-8-sig', dtype= 'unicode')

wanted_columns = ['Latitud','Longitud','Nombre de la Unidad']
df2 = df[wanted_columns]
# df2 = pd.DataFrame(columns = [wanted_columns])

In [257]:
df2

,Latitud,Longitud,Nombre de la Unidad
0,Informacion en el Dataset INEGI_DENUE,Informacion en el Dataset INEGI_DENUE,CENTRO DE REHABILITACIÓN INTEGRAL DIF JALISCO
1,NaN,NaN,BCO. SANGRE OBLATOS
2,NaN,NaN,HES OBLATOS
3,NaN,NaN,HGO OBLATOS
4,NaN,NaN,HPED OBLATOS
...,...,...,...
201,NaN,NaN,CENTRO INTEGRAL DE SALUD MENTAL TONALÁ
202,NaN,NaN,CENTRO INTEGRAL DE SALUD MENTAL TLAQUEPAQUE
203,NaN,NaN,CARAVANA DE LA SALUD TLAJOMULCO
204,NaN,NaN,UNIDAD MÓVIL DE COLPOSCOPIA
205,NaN,NaN,SINDICATO NACIONAL DE TRABAJADORES DE LA SECRE...

In [259]:
df2['Nombre de la Unidad'].apply(lambda x:x.split())

0      [CENTRO, DE, REHABILITACIÓN, INTEGRAL, DIF, JA...
1                                [BCO., SANGRE, OBLATOS]
2                                         [HES, OBLATOS]
3                                         [HGO, OBLATOS]
4                                        [HPED, OBLATOS]
                             ...
201        [CENTRO, INTEGRAL, DE, SALUD, MENTAL, TONALÁ]
202    [CENTRO, INTEGRAL, DE, SALUD, MENTAL, TLAQUEPA...
203                [CARAVANA, DE, LA, SALUD, TLAJOMULCO]
204                     [UNIDAD, MÓVIL, DE, COLPOSCOPIA]
205    [SINDICATO, NACIONAL, DE, TRABAJADORES, DE, LA...
Name: Nombre de la Unidad, Length: 206, dtype: object

In [293]:
def quitar_articulos(texto):
    tokens = texto.split(' ')

    articulos = ['EL','LA','LOS','LAS']
    for i,t in enumerate(tokens):
        if t in articulos:
            del tokens[i]
            
    tokens = " ".join(tokens)
    return tokens

In [297]:
df2['Nombre de la Unidad'].apply(lambda x: quitar_articulos(x)).head(20)

0     CENTRO DE REHABILITACIÓN INTEGRAL DIF JALISCO
1                               BCO. SANGRE OBLATOS
2                                       HES OBLATOS
3                                       HGO OBLATOS
4                                      HPED OBLATOS
5                                HGZ 14 GUADALAJARA
6                                HGZ 89 GUADALAJARA
7                                   HGR 110 OBLATOS
8                                HGR 45 GUADALAJARA
9                                  HGR 46 GUADALAJA
10                          LABORAT CITOLOGIA EXFOL
11                                UMF 1 GUADALAJARA
12                              UMF 167 H.PROVINCIA
13                                UMF 2 GUADALAJARA
14                                UMF 3 GUADALAJARA
15                               UMF 34 GUADALAJARA
16                                   UMF 4 ATEMAJAC
17                               UMF 48 GUADALAJARA
18                               UMF 49 GUADALAJARA
19                               UMF 51 GUADALAJARA
Name: Nombre de la Unidad, dtype: object

['CARAVANA,', 'DE,', 'LA,', 'SALUD,', 'TLAJOMULCO']

In [44]:
dataframe= pd.read_csv('denue_inegi_14_.csv', encoding='latin-1', dtype='unicode')
wanted_columns = ['nom_estab','latitud','longitud']
dataframe2= dataframe[wanted_columns].copy()

In [55]:
dataframe2[dataframe2['nom_estab'].str.match('CENTRO DE SALUD LA NOGALERA',na=False)]

                          nom_estab      latitud       longitud
248050  CENTRO DE SALUD LA NOGALERA  20.63207923  -103.34404898

In [17]:
wanted_columns = ['nom_estab','latitud','longitud']
df1=dataframe[wanted_columns].head()
df1[df1['nom_estab'].str.match('HOSPITAL CIVIL')]

Empty DataFrame
Columns: [nom_estab, latitud, longitud]
Index: []

In [329]:
dataframe = pd.read_csv('DENUE\denue_inegi_1117_.csv', encoding='latin-1', dtype='unicode')

In [330]:
dataframe.loc[dataframe['nom_estab'] == 'CENTRO DE SALUD CERRO DEL CUATRO']

Empty DataFrame
Columns: [id, nom_estab, raz_social, codigo_act, nombre_act, per_ocu, tipo_vial, nom_vial, tipo_v_e_1, nom_v_e_1, tipo_v_e_2, nom_v_e_2, tipo_v_e_3, nom_v_e_3, numero_ext, letra_ext, edificio, edificio_e, numero_int, letra_int, tipo_asent, nomb_asent, tipoCenCom, nom_CenCom, num_local, cod_postal, cve_ent, entidad, cve_mun, municipio, cve_loc, localidad, ageb, manzana, telefono, correoelec, www, tipoUniEco, latitud, longitud, fecha_alta]
Index: []

[0 rows x 41 columns]

In [333]:
dataframe= pd.read_csv('clues.csv', encoding='latin-1', dtype='unicode')
dataframe.head()

,NAME,TIPOINSTIT,TIPOINSTI2,TIPOLOCALI,TIPOLOCAL2,TIPOUNIDAD,TIPOUNIDA0,TIPOTIPOLO,TIPOTIPOL0,TIPOSUBTIP,...,TIPOACREDI,TIPOESTACR,TIPOESTAC0,TIPOUNI,TIPOUNI2,TIPOOBRA,TIPOOBRA2,LATITUD,LONGITUD,OID
0,JCSSA000503,SSA,SECRETARIA DE SALUD,1,ATOTONILCO EL ALTO,HO,UNIDAD DE HOSPITALIZACION,N,HOSPITAL INTEGRAL (COMUNITARIO),NES,...,1,1,ACREDITADA,2,URBANO,NES,NO ESPECIFICADO,20.5504,-102.508,1
1,JCSSA000515,SSA,SECRETARIA DE SALUD,1,ATOTONILCO EL ALTO,CE,UNIDAD DE CONSULTA EXTERNA,P,UNIDAD MOVIL,NES,...,NES,NAP,NO APLICA,2,URBANO,NES,NO ESPECIFICADO,20.5504,-102.508,2
2,JCSSA000520,SSA,SECRETARIA DE SALUD,1,ATOTONILCO EL ALTO,CE,UNIDAD DE CONSULTA EXTERNA,P,UNIDAD MOVIL,NES,...,NES,NAP,NO APLICA,2,URBANO,NES,NO ESPECIFICADO,20.5505,-102.508,3
3,JCSSA013762,SSA,SECRETARIA DE SALUD,1,ATOTONILCO EL ALTO,HO,UNIDAD DE HOSPITALIZACION,N,HOSPITAL INTEGRAL (COMUNITARIO),NES,...,NES,2,NO ACREDITADA,2,URBANO,NES,NO ESPECIFICADO,20.5503,-102.508,4
4,JCSSA000532,SSA,SECRETARIA DE SALUD,30,SAN FRANCISCO DE ASIS,CE,UNIDAD DE CONSULTA EXTERNA,B,RURAL DE 02 NUCLEOS BASICOS,NES,...,1,1,ACREDITADA,2,URBANO,NES,NO ESPECIFICADO,20.5976,-102.563,5

In [334]:
wanted_columns = ['NOMBRE','LATITUD','LONGITUD']
dataframe2= dataframe[wanted_columns].copy()
dataframe2 = pd.DataFrame(columns = [wanted_columns])

In [336]:
dataframe2.to_csv('unidades_regionales.csv', encoding='utf-8-sig')